{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
<% if (!isPc) { -%>
            "> 0.1%",
            "iOS >= 7.0",
            "Android >= 4.3"
<% } else { -%>
            "> 1%",
            "last 2 versions",
            "<%- ieVersion %>"
<% } -%>
          ]
        },
        "modules": false,
        "useBuiltIns": true
      }
    ]
  ],
  "plugins": [
    "transform-object-rest-spread",
    "syntax-dynamic-import",
    ["transform-class-properties", { "spec": true }]
  ],
  "env": {
<% if (includeUnitTest) { -%>
    "test": {
      "plugins": [ "istanbul" ]
    }
<% } -%>
  }
}